extends layout

block content
    .jumbotron.showcase
        .container
            h1 Sports Blog
            p.lead A clean and contemprary sports based blog
    .container
            .row
                .col-md-12
                    each article, i in articles
                        a(href='/articles/show/'+article._id)
                            h2.post-title #{article.title}
                        h4.blog-post-title #{article.subtitle}
                        p.blog-post-meta
                            | Posted by #{article.author}
                            | on #{moment(article.created_at).format('MMMM Do YYYY, h:mm:ss a')}  
