doctype html
html
    head
        title SportsBlog
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        //-link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(href="/css/style.css", rel="stylesheet")

    body
        include ./includes/navbar.pug
                    
        block content
        hr
        footer
            .container
                Copyright &copy; 2018
        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/js/main.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
