.create-btn
{
    margin-top: 10px;
}

#messages {
    margin: 10px;
}

#messages li{
    padding: 10px; 
    list-style: none
}

#messages .success{
    background: green;
    color: white;
}

#messages .error{
    background: red;
    color: white;
}

.showcase{
    background:  url('/img/home-bg.jpg') no-repeat;
    background-size: auto ;
    background-position: right;
    color: whitesmoke;
 }

 .navbar{
     margin-bottom: 0;
     border-radius: 0;
 }